@model List<HotelApp.Models.hotel>

@{
    ViewBag.Title = "Index";
}

<h2>@ViewBag.Message</h2>
<h2>@ViewData["Message"]</h2>

@foreach (var hotel in ViewBag.hotelList)
{
    <h2>@hotel.Name</h2>
    <br />
}

@foreach (var hotel in ViewData["hotelListData"] as List<HotelApp.Models.hotel>)
{
    <h2>@hotel.Name</h2>
    <br />
}



